.intro {
  display: flex;
  width: 100%;
  height: calc(100vh - 78px);
  overflow: auto;
  border-bottom: 2px solid #222222;
}

.mapReport {
  flex: 3;
  background: #288cca;

  iframe {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
    border: 0;
  }
}

.charts {
  width: 86%;
  margin: 60px auto 0 auto;
}

.countries {
  width: 86%;
  margin: 60px auto 0 auto;
}

@media only screen and (max-width: 800px) {
  .intro {
    flex-direction: column-reverse;
    height: unset;
  }
}
